* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

#map {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.window_wrap {
  background-color: #fff;
  width: 260px;
  height: auto;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.window_name {
  background-color: #d4d4d4;
  width: 260px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
}

.window_address,
.window_number {
  height: 25px;
  line-height: 25px;
  font-size: 11px;
  width: 260px;
}
